<!DOCTYPE html>
<html>
  <head>
    <title>Ctzn</title>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Ctzn</a></li>
    <li role="presentation"><a href="/legislators">Legislators</a></li>
    <li role="presentation"><a href="/committees">Committees</a></li>
    <li role="presentation"><a href="/bills">Bills</a></li>
  </ul>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
